
      <!-- End Navbar -->
    
      <br><br><br><br><br>
        
      <div class="content" >
        <div class="container-fluid">

            <h3 class="card-title" Style="color:#2aea; font-family: bold;" align="center">Enterprise Computing Career Session</h3>
          
            <div class="row">   
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats systeam">
                <div class="card-header card-header-warning card-header-icon">
                 <br><b></b>
                  <a (click)="systeam()"><h3 class="card-title" Style="color:aliceblue;"> Systems and Hardware Team</h3></a>

                  <!--<h3 class="card-title" *ngIf="loading">loading ...</h3>-->
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-info">info</i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 ">
              <div class="card card-stats devteam">
                <div class="card-header card-header-success card-header-icon">
                    <br><b></b>
                  <a  (click)="devteam()"><h3 class="card-title"  Style="color:aliceblue;">Applications Development Team</h3></a>

                  <!--<h3 class="card-title" *ngIf="loading">loading ...</h3>-->
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 ">
              <div class="card card-stats salesteam">
                <div class="card-header card-header-danger card-header-icon">
                    <br><b></b>
                    <a (click)="salesteam()"><h3 class="card-title"  Style="color:aliceblue;">Sales Executive Team</h3></a>
                  </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> 
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">    
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats hrteam">
                  <div class="card-header card-header-warning card-header-icon" >
                   <br><b></b>
                    <a (click)="hrteam()"><h3 class="card-title"  Style="color:aliceblue;">Human Resource Team</h3></a>
                    <!--<h3 class="card-title" *ngIf="loading">loading ...</h3>-->
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons text-info">info</i>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats accteam">
                  <div class="card-header card-header-success card-header-icon">
                      <br><b></b>
                    <a (click)="accteam()"><h3 class="card-title"  Style="color:aliceblue;">Accounts Team</h3></a>

                    <!--<h3 class="card-title" *ngIf="loading">loading ...</h3>-->
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">date_range</i>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats proteam">
                  <div class="card-header card-header-danger card-header-icon">
                      <br><b></b>
                      <a (click)="proteam()"><h3 class="card-title"  Style="color:aliceblue;">Projects, Digital and Marketing Team</h3></a>

                    </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">local_offer</i> 
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
     
