<br><br><br>
    <!-- End Navbar -->

    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand text-danger">Enterprise Computing Career</a> <!-- href="#pablo"-->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-end">
         
          <ul class="navbar-nav">
              
            <button type="submit" class="btn btn-sm btn-danger" (click)="contacthr()">Start Application</button>


            
          </ul>
        </div>
      </div>
    </nav>

    <app-userdsh></app-userdsh> 
    <!-- End Navbar -->
    
    
    
    
    
    
    
    
    
    
    
    
    