 <!-- End Navbar -->
 <br><br><br><br>
 <div class="content">
     <div class="container-fluid"> 
 
     <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-8">
         <div class="card">
           <div class="card-header">
             <h4 class="card-title">Edit Profile</h4>
             <p class="card-category">Complete your profile</p>
           </div>
           <div class="card-body">
             <form>
               <div class="row">
                 <div class="col-md-5">
                   <div class="form-group">
                     <label class="bmd-label-floating">Email (disabled)</label>
                     <input type="text"id="company"   value="{{userdata.email}}" class="form-control" disabled>
                   </div>
                 </div>
             
                 <div class="col-md-7">
                   <div class="form-group">
                     <label class="bmd-label-floating">Phone number</label>
                     <input type="email" id="phne"  value="" class="form-control">
                   </div>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-4">
                   <div class="form-group">
                     <label class="bmd-label-floating">First Name</label>
                     <input type="text"  id="firstname" value="{{userdata.first_name}}" class="form-control">
                   </div>
                 </div>

                 <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name</label>
                    <input type="text"  id="lasttnme" value="{{userdata.last_name}}" class="form-control">
                  </div>
                </div>

                 <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Position</label>
                    <input type="text"  id="pass" value="{{userdata.position}}" class="form-control" disabled>
                  </div>
                </div>

               </div>
         
               <button type="submit" class="btn btn-sm pull-right">Update Profile</button>
               <div class="clearfix"></div>
             </form>
           </div>
         </div>
       </div>
       <div class="col-md-3">
         
       </div>
     </div>
 
     </div>
     </div>
 
 